.durationpicker-container {
    background-color: white;
    border: 1px solid darkgrey;
    display: inline-block;
    width: 250px;
    margin: 10px 0;
}

.durationpicker-innercontainer {
    display: inline-block;
    width: 100px;
    margin: 0 5px;
}

.durationpicker-duration {
    width: 50px;
    display: inline-block;
    border: none;
    padding-left: 10%;
    text-align: right;
}

.durationpicker-label {
    display: inline-block;
}
